{{#if resume.languages.length}}
  <div class="container languages-container">
    {{> title value="Languages"}}

    <ul>
      {{#each resume.languages}}
        <li>{{language}} {{#if fluency}}<em>({{fluency}})</em>{{/if}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
