{{#if resume.languages.length}}
  <div class="container languages-container">
    {{> title value="Languages"}}

    {{#each resume.languages}}
      <section class="item">
        {{> section-header name=language }}
        {{#if fluency}}
          <p>{{fluency}}</p>
        {{/if}}
      </section>
    {{/each}}
  </div>
{{/if}}
