{{#if resume.references.length}}
  <div class="container references-container">
    {{> title value="References"}}

    {{#each resume.references}}
      <section class="item clearfix">
        {{#if reference}}
          <i class="fa fa-quote-left pull-left" aria-hidden="true"></i>
          <blockquote>
            {{reference}}
          </blockquote>
        {{/if}}

        {{#if name}}
          <h4 class="pull-right"> — {{name}}</h4>
        {{/if}}
      </section>
    {{/each}}
  </div>
{{/if}}
