.page {
  box-sizing: border-box;
  background: white;
  width: $page-width;
  min-height: $page-height;
  display: block;
  margin: 0 auto;
  padding: spacing(8) spacing(5);
  @include shadow();
  @include clearfix();
}

.left-column {
  float: left;
  width: $aside-width;
  margin-right: $aside-margin;
  word-wrap: break-word;
}

.right-column {
  width: auto;
  overflow: hidden;
}

.item {
  margin-bottom: spacing(3);

  &:last-child {
    margin-bottom: 0;
  }
}
