.page {
  box-sizing: border-box;
  background: white;
  width: $page-width;
  min-height: $page-height;
  display: block;
  margin: 0 auto;
  padding: spacing(8) spacing(5);
  // @include shadow();
  
  .resume-content {
    display: flex;
    flex-direction: row;

    .left-column {
      flex: 0 0 $aside-width;
      margin-right: $aside-margin;
      word-wrap: break-word;
    }
    
    .right-column {
      flex: 1;
      overflow: hidden;
    }
  }
}

