@media (max-width: $print-width) {
  
  body {
    margin: 0 0 0 0;
    background-color: none;
  }

  .page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;
  }

  .container {
    page-break-inside: avoid;
  }

  .work-container {
    .item {
      page-break-inside: avoid;
    }
  }

  .fa-external-link {
    display: none;
  }
}
