body {
  font-family: $text-font;
  background: $gray-lightest;
  margin: spacing(10) 0 spacing(20);
  line-height: $line-height;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  @include font-size(10);
  font-family: $display-font;
  font-weight: normal;
  color: $primary-color;
  margin-bottom: spacing(2.75);
}

h2 {
  @include font-size(4);
  @include bold-font();
  font-family: $text-font;
  color: $secondary-color;
  margin-bottom: spacing(2.5);
}

h3 {
  @include font-size(3.75);
  font-family: $section-title-font;
  font-weight: normal;
  color: $primary-color;
  text-transform: uppercase;
  margin-bottom: spacing(2.25);
}

h4 {
  @include font-size(3.5);
  @include bold-font();
  font-family: $text-font;
  color: $secondary-color;
  margin-bottom: spacing(2);
}

h5 {
  @include font-size(3.25);
  @include bold-font();
  font-family: $text-font;
  margin-bottom: spacing(1.75);
}

h6 {
  @include font-size(3);
  font-family: $text-font;
  font-weight: normal;
  margin-bottom: spacing(1.5);
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $link-color;
  }

  .fa-external-link {
    font-size: 10px;
    vertical-align: text-top;
  }
}

p,
ul {
  margin: 0 0 spacing(1.5);
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    padding: spacing(.5) spacing();
    background-color: $gray-lighter;
    border-radius: 2px;
    margin-bottom: spacing(.5);
    margin-right: spacing(.5);
    display: inline-block;
  }
}

p,
li {
  @include font-size(2.75);
}

blockquote {
  @include font-size(2.75);
  @include italic-font();
  margin: spacing(2) spacing(5);
}

em {
  @include italic-font();
  color: $gray-dark;
}

strong {
  @include bold-font();
}

.bold {
  @include bold-font();
}

.italic {
  @include italic-font();
}
