@import './mixins/media-queries';

@mixin shadow {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

@mixin font-size($multiplier: 3) {
  font-size: $font-unit * $multiplier;
}

@mixin italic-font() {
  @if ($italic-text-font != 'false') {
    font-family: $italic-text-font;
    font-style: normal;
  } @else {
    font-style: italic;
  }
}  

@mixin bold-font() {
  @if ($bold-text-font != 'false') {
    font-family: $bold-text-font;
    font-style: normal;
  } @else {
    font-weight: bold;
  }
}

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

@mixin gradient-text($direction, $list) {
  @include gradient($direction, $list);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
